.DS_Store
*.aux
*.bbl
*.bcf
*.blg
*.loa
*.lof
*.log
*.lot
els_energy_optimisation_and_adaptive_coverage_in_wsn_systems.pdf
*.out
*.gz
*.tgz
*.run.xml
*.tdo
*.toc
*.spl
*.synctex.gz
source/els_energy_optimisation_and_adaptive_coverage_in_wsn_systems.abs
